body {
  background-image: url('papiez.gif');
  background-position: center;
  background-size: fit;

}

h1 {
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  color: white;
  text-align: center;
  font-size: 64px;
  text-shadow: 0px 0px 15px black;
}

#papiez {
 margin: 200px, 0, 150px, 0;
 width: 500px;
}